#canvas-container {
    height: 500px;
    width: 80%;
    margin: 0 auto;
    border: 10px solid #ccc;
    border-radius: 5px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#canvas-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
